
.banner {
  position: fixed;
  transform: scale(-1, 1);
  // max-height: 100vh;
  // top: 2000;
  // width: 100vw;
  opacity: 0.6;
}
.banner_div {
  // background-color: #F7FBFC;
  // background-color: ;
  // height: 500px;
  width: 100vw;
}