.slider {
  // width: 400px;
  // height: 400px;
  z-index: 2;
  padding: 0 100px;
  background: rgba(169, 169, 169, 0.432);
  user-select: none;
}

.slide {
  max-width: 25vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // user-select: none;
}

.heading_text {
  margin-top: 50px;
  margin-bottom: 20px;
}

.carusel_div {
  text-align: center;
}