@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');

.banner_div {
  // background-color: rgba(250, 128, 114, 0.199);
  position: relative;
  // border: 3px solid salmon;
  text-align: center;
  max-width: 665px;
  // overflow: visible;
  max-height: 470px;
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
  // flex: 3;

  img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
    // max-height: 100%;
    // transform: scale(0.8);
    // position: absolute;
    // bottom: -104px;
    // left: -135px;
  }
}

.relative_div {
  position: relative;
  // height: 400px;
}

.banner_desc_div {
  // padding-top: 10px;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background-color: #d6e6f2;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 53%;
  h4 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
  }
}

.banner_list_div {
  text-align: left;
  margin-top: 70px;
  margin-left: 20px;
}