body {
  margin: 0 auto;
  width: 100vw;
  // max-width: 100%;
  background-color: #F6F6F6;
  // background-color: #F5FAFE;
  overflow-x: hidden;
}
html {
  margin: 0 auto;
}

* {
  font-family: "Roboto";
}

.map-container {
  height: 500px;
  width: 800px;
}

#our-clients-slider {
  .swiper-button-prev, .swiper-button-next {
    padding: 0 20px;
  }
}