.bg_blue {
  // position: absolute;
  position: fixed;
  // transform: scale(-1, 1);
  width: 100vw;
  // max-width: 100%;
  // overflow: hidden;
  opacity: 0.6;
  top: 0;
  z-index: -1;
}

.bg_blue_inverted {
  @extend .bg_blue;
  transform: scale(-1, 1);
}

.bg_green {
  // position: absolute;
  position: fixed;
  // transform: scale(-1, 1);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  // max-width: 100%;
  overflow: hidden;
  opacity: 0.4;
  top: 0;
  z-index: -1;
  // background: "#1976d238"
}
.bg_green_inverted {
  @extend .bg_green;
  transform: scale(-1, 1);
}


.bg_green_div {
  // position: absolute;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -2;
  // background: red
  // background: #1976d238;
  background: #D6E6F2;
}